
<div class="sidebar"> 
  <h2>Choose a Person</h2>
  <ul>
    <a href="/tara"><li>Tara</li></a>
    <a href="/roberta"><li>Roberta</li></a>
    <a href="/jen"><li>Jen</li><a/>
    <a href="/rachel"<li>Rachel</li></a>
    <a href="/sandy"><li>Sandy</li></a>
    <a href="/gustavo"><li>Gustavo</li></a>
    <a href="/daniel"><li>Daniel</li></a>
  </ul>
    <a href="/baby jesus"><li>Baby Jesus</li></a>
  </ul>


</div>